#details{
  color: white;
  padding: 15px;
}
#header{

    font-size: 60px;
    font-weight: 700;
}
#fest-sign{
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.846);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.info {
  margin-top: 20px;
  font-size: 20px;
}

.info-item {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
}



.festival {
  cursor: pointer;
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center;
    height: 45vh;
    color: #F7C59F;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
  
    background-size: cover; /* Cover the circle with the background image */
    background-position: center; /* Center the background image */
    transition: height 0.5s;
  }
  .festival:hover{
    height: 65vh;
  }
  #search{
    position: sticky;
    top: 85px;
  
    padding-bottom: 30px;
    min-height: 85px;
    width: 100%;
    text-align: center;
    background-color: #2A324B;;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }